<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <title>Bank Home</title>
  </head>
  <body>
    <img src="/images/logo.png" alt="Bank Logo" class="logo" />
    <h1>Welcome to Our Bank</h1>
    <div class="login-links">
      <a href="/manager_login">Manager Login</a> |
      <a href="/user_login">User Login</a>
    </div>
  </body>
</html>
