<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/manager_login.css" />
    <title>Manager Login</title>
  </head>
  <body>
    <img src="/images/logo.png" alt="Bank Logo" class="logo" />
    <h1>Manager Login</h1>
    <form action="/manager_login" method="POST" class="login-form">
      <label for="managerId">Manager ID:</label>
      <input type="text" name="managerId" id="managerId" required />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />

      <button type="submit" class="submit-button">Login</button>
    </form>
  </body>
</html>
